<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd;"
>
  <a class="navbar-brand" routerLink="/">
    <img
      src="assets/img/icons8-violin-100.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    >
    Icycloutmu
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/fiddle">Fiddle</a>
      <a class="nav-item nav-link" routerLink="/about">About</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
