<!--<div>-->
<!--<label>Hello from Angular</label>-->
<!--<input [(ngModel)]="value">-->
<!--</div>-->
<!--<paper-input-->
<!--label="Hello from Polymer"-->
<!--ironControl-->
<!--[(ngModel)]="value"-->
<!--&gt;-->
<!--</paper-input>-->

<!--<div>-->
<!--<label>Non-form two-way bindings!</label>-->
<!--<input type="checkbox" [(value)]="checked" [(ngModel)]="checked">-->
<!--</div>-->
<!--<paper-checkbox-->
<!--[checked]="checked"-->
<!--(checked-changed)="checked = $event.detail.value"-->
<!--&gt;-->
<!--Checked-->
<!--</paper-checkbox>-->
<router-outlet></router-outlet>
